<p>
  moyenne works!
</p>


<table>
  <thead>
    <tr >
      <th>Nom</th>
      <th *ngFor="let matiere of matieres">{{matiere}}</th>
      <th>Moyenne</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eleve of listeEleves">
      <td>{{eleve.nom}}</td>
      <td *ngFor="let matiere of matieres"><input [(ngModel)]="eleve.notes[matiere]" (ngModelChange)="eleve.calculMoyenne()"></td>
      <td>{{eleve.moyenne}}</td>
    </tr>
    <tr>
      <td></td>
      <td *ngFor ="let matiere of matieres"></td>
      <td>{{moyenneGlobal}}</td>
    </tr>
  </tbody>
</table>
